@import "tailwindcss";

:root {
  --color-primary: #606263;
  --color-white: #ffffff;
  --color-muted: #f5f5f5;
  --color-border: #e5e5e5;
}

body {
  background-color: var(--color-white);
  color: var(--color-primary);
}